body {
    background-color: rgb(216, 216, 216);
}
.header {
    display: flex;
    padding: 30px 0;
    align-items: center;
    justify-content: space-between;
    &__title {
        font-size: 30px;
    }
    &__cart {
        text-decoration: none;
        font-size: 25px;
        color: #000;
        transition: color .3s;
        &:hover {
            color: #c29882;
        }
    }
}
.btn {
    outline: none;
    border: 1px solid #000;
    border-radius: 5px;
    padding: .5rem 2rem;
    box-sizing: border-box;
    transition: all .3s;
    
    &:hover {
        background-color: #c29882;
        color:#fff;
    }
}
.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    width: 30%;
    border: 1px solid #000;
    margin: 0 0 30px 0;
    &__title {
        font-size: 20px;
        color: #000;
        margin: 10px 0;
    }
    &__image {
        width: 200px;
    }
}
.cart {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:rgb(189, 240, 255);
    border: 1px solid #000;
    padding: 30px 100px;
    &__item {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        padding: 20px;
        border: 1px solid #000;
        margin: 0 0 20px 0;
    }
    &__price {
        margin: 0;
    }
    &__count {
        margin: 0 10px;
        font-size: 20px;
    }
    &__image {
        width: 80px;
    }
    &__btn {
        padding: 1px 8px;
        font-size: 25px;
    }
    & .fa-trash-alt {
        color: rgb(248, 104, 104);
        cursor: pointer;
    }
    &__summa-wrp {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    &__summa {
        margin: 0;
    }
    &__btn-buy {
        text-transform: uppercase;
        background-color: rgb(224, 224, 224);
    }
}